.Product{
  padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    color: #333;
    font-family: monospace;
    font-size: 32px;
    text-align: center;
}

.ProductImage{
   height: 200px;
   width: 100px;
}

.Card{
    /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 350px;
  width: 350px;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  color: #333;
  display: inline-block;
  text-align: center;


  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #ffffff;
  transition: 0.3s;
position: absolute;
  height: 100px;
  width: 150px;
  color: #333;
  padding: 10px;
  margin: 10px;
  text-align: center; */
}

.Container{
    width: 100%;
}

